@import url(http://fonts.googleapis.com/css?family=Philosopher:400,700,400italic,700italic&subset=latin,cyrillic)
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic)
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic)


::selection
	background: #b0bbc5
	color: #fff

a
	color: #307EA9
	text-decoration: none
	border-bottom: 1px solid #e3edfb
	&:hover
		background: #ccdcf3
		color: #586374
		border-color: #ccdcf3

ul
	list-style-type: none

html, body
	height: 100%

body
	font:
		family: 'PT Sans', sans-serif
		weight: normal
		size: 15px
	line-height: 1.4
	background-color: #fff
	color: #000
	min-width: 740px

h1, h2, h3, h4, h5, h6
	font-family: 'PT Serif', serif
	font-size: 24px
	font-weight: 400
	color: #000
h1
	margin-bottom: 1em

p
	margin: 1em 0

code
	padding: 2px 4px
	font-size: 12px
	color: #000
	+border-radius(3px)
	background-color: #f8f8f8
	border: 1px solid #eee
	border: 1px solid rgba(0, 0, 0, 0.15)
	white-space: nowrap

pre code
	display: block
	padding: 5px 15px
	margin: 0 0 9px
	font-size: 12px
	line-height: 18px
	white-space: pre
	white-space: pre-wrap
	word-break: break-all
	word-wrap: break-word

// sticky footer 
.out
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -90px

.footer, .push
	height: 90px

// site
.header
	height: 100px
	line-height: 100px
	background-color: #e4e7ec
	a
		color: #7c6b5d
		text-decoration: none
	.header__in
		width: 650px
		margin: 0 auto
	.title
		display: inline-block
		font-family: 'Philosopher', sans-serif
		font-size: 30px
		font-weight: 700
		font-style: italic
		color: #586374
		margin-bottom: 0
		a
			background: none
			border-bottom: none
			color: #586374
// footer
.footer
	width: 90%
	margin: 0 auto
	font-size: 13px
	border-top: 1px solid #eee
	overflow: hidden
	+box-sizing(border-box)
	p
		margin: .3em 0
	.footer__in
		width: 650px
		margin: 0 auto
		padding: 15px 0
	.contact
		display: inline-block
		margin-right: 3em
	.footer__right
		float: right
		vertical-align: top
	.rss
		margin-top: 1.1em
		margin-right: -.2em
		float: right
		img
			border: 0

// content
.content
	width: 650px
	margin: 0 auto
	padding: 3em
	.date
		color: #999
		font-size: 12px
	h3
		font-size: 20px

.archive
	.archive__listing
		position: relative
		li
			font-size: 18px
			margin-bottom: .5em
			padding: 0 10px 0 5px
			border-bottom: 1px solid #e4e7ec
		a
			text-decoration: none
			border: none
			&:hover
				text-decoration: none
				background: none
		span
			float: right
			padding-top: 6px
			margin-left: 10px
			text-transform: uppercase
			font-size: 12px
			color: #999

// standard
.article
	ul, ol
		margin-left: 1.35em
	ul
		list-style-type: square
	img
		display: block
		margin: 0 auto